### 10번까지 푼 문제는 파일이 날아가... 11번 부터 시작

# 문제11 : for를 이용한 기본 활용

1부터 100까지 모두 더하는 Code를 'pass' 부분에 완성하세요. for를 사용해야 합니다.

In [ ]:
s = 0

pass

print(s)

In [1]:
s = 0

for i in range(1,101,1):
    s += i

print(s)

5050

# 문제12 : 게임 캐릭터 클래스 만들기

다음 소스코드에서 클래스를 작성하여 게임 캐릭터의 능력치와 '파이어볼'이 출력되게 만드시오.

**주어진 소스 코드를 수정해선 안됩니다.**

출력예시

545 210 10
파이어볼

In [3]:
class Wizard(object):
    def __init__(self, health, mana, armor):
        self.health = health
        self.mana = mana
        self.armor = armor
    
    def attack(self):
        print('파이어볼')

jik = Wizard(health = 545, mana = 210, armor = 10)
print(jik.health, jik.mana, jik.armor)
jik.attack()

545 210 10
파이어볼

# 문제13 : 몇 번째 행성인가요?

우리 태양계를 이루고 있는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성으로 총 8개 입니다. 저희는 우리 태양계의 n번째 행성이 무엇인지 알고 싶습니다.

입력으로 행성의 순서를 나타내는 숫자 n이 입력됩니다. 예를들어 수성은 첫번째 행성입니다.

입력으로 행성의 순서를 나타내는 숫자 n이 입력됩니다. 예를들어 수성은 첫번째 행성입니다.

```python
1
```

출력으로 그 순서에 해당하는 행성의 이름을 출력해 주세요.

```python
수성
```

In [4]:
d = {1:'수성', 2:'금성', 3:'지구', 4:'화성', 5:'목성', 6:'토성', 7:'천왕성', 8:'해왕성'}

input_value = int(input())

print(d[input_value])

수성

# 문제14 : 3의 배수 인가요?
영희는 친구와 게임을 하고 있습니다. 서로 돌아가며 랜덤으로 숫자를 하나 말하고 그게 3의 배수이면 박수를 치고 아니면 그 숫자를 그대로 말하는 게임입니다.

입력으로 랜덤한 숫자 n이 주어집니다.

만약 그 수가 3의 배수라면 '짝'이라는 글자를, 3의 배수가 아니라면 n을 그대로 출력해 주세요.

입력
```python
3
```

출력
```python
짝
```

입력
```python
2
```
​
출력
```python
2
```

In [5]:
a = int(input())

if a % 3 == 0:
    print('짝')
else:
    print(a)

짝

# 문제15 : 자기소개

신학기가 시작되고, 아이들이 돌아가면서 자기소개를 하기로 했습니다.

만약 입력으로 `김다정`이라는 이름이 주어지면

```python
안녕하세요. 저는 김다정입니다.
```

라고 출력하게 해주세요.

In [6]:
a = input()

print(f'안녕하세요. 저는 {a}입니다.')

안녕하세요. 저는 김장배입니다.

# 문제16 : 로꾸거
문장이 입력되면 거꾸로 출력하는 프로그램을 만들어 봅시다.

입력
거꾸로

출력
로꾸거

In [8]:
a = input()

print(a[::-1])

로꾸거

# 문제17 : 놀이기구 키 제한

유주는 놀이공원 아르바이트 중입니다. 그런데 놀이기구마다 키 제한이 있습니다.
유주가 담당하는 놀이기구는 키가 150 이상만 탈 수 있습니다.

입력으로 키가 주어지면
키가 150이 이상이면 **YES**를 틀리면 **NO**를 출력하는 프로그램을 작성하세요.

In [9]:
a = int(input())

if a >= 150:
    print('YES')
else:
    print('NO')

YES

# 문제18 : 평균 점수
영하네 반은 국어, 수학, 영어 시험을 보았습니다. 영하는 친구들의 평균 점수를 구해주기로 했습니다.

공백으로 구분하여 세 과목의 점수가 주어지면
전체 평균 점수를 구하는 프로그램을 작성하세요. 단, 소숫점 자리는 모두 버립니다.

입력
```python
20 30 40
```

출력

```python
30
```

In [12]:
a, b, c = map(int,input().split(' '))

print((a+b+c)//3)

20

# 문제19 : 제곱을 구하자

공백으로 구분하여 두 숫자 a와 b가 주어지면, **a의 b승**을 구하는 프로그램을 작성하세요.

In [13]:
a, b = map(int, input().split(' '))

print(pow(a,b))

8

# 문제20 : 몫과 나머지

공백으로 구분하여 두 숫자가 주어집니다.
첫번째 숫자로 두번째 숫자를 나누었을 때 **그 몫과 나머지를 공백으로 구분하여 출력하세요.**

입력
```python
10 2
```
출력
```python
5 0
```

In [14]:
a, b = map(int, input().split(' '))

c = a // b
d = a % b

print(c,d)

5 0